@page "/login"
@layout LoginLayout
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-100" style="max-width: 400px;">
        <EditForm Model="@loginModel" OnValidSubmit="HandleValidSubmit" class="container mt-5">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="username">Nome de usuário:</label>
                <InputText id="username" @bind-Value="loginModel.Username" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <InputText id="password" @bind-Value="loginModel.Password" type="password" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </EditForm>
    </div>
</div>

@code {
    private LoginModel loginModel = new LoginModel();
    [Inject]
    private NavigationManager Navigation { get; set; }
    private void HandleValidSubmit()
    {
        // Lógica de autenticação aqui
        Console.WriteLine("Login realizado com sucesso!");
        Navigation.NavigateTo("/");
    }

    public class LoginModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}